/* #6b5b95 */
/* #12130f */

div#root {
	background-color: rgb(0, 0, 0);
}

body {
	background-color: black !important;
}

.card {
	background: #fff;
	transition: 0.5s;
	border: 2px blue!important;
	margin-bottom: 30px;
	border-radius: 0.55rem;
	position: relative;
	width: 100%;
	box-shadow: 0 1px 2px rgb(0, 225, 255);
}

.chat .chat-header {
	padding: 15px 20px;
	border-bottom: 2px solid #f4f7f6;
}

.chat .chat-header .chat-about {
	float: left;
	padding-left: 10px;
}

.chat .chat-history {
	padding: 20px;
	border-bottom: 1px solid rgb(0, 225, 255);
	border-top: 1px solid rgb(0, 225, 255);
	border-radius: 1%;
	
}

.chat .chat-history::-webkit-scrollbar {
	display: none;
  }

.chat .chat-history ul {
	padding: 0;
}

.chat .chat-history ul li {
	list-style: none;
	margin-bottom: 30px;
}

.chat .chat-history ul li:last-child {
	margin-bottom: 0px;
}

.chat .chat-history .message-data {
	margin-bottom: 15px;
}

.chat .chat-history .message-data img {
	border-radius: 40px;
	width: 40px;
}

.chat .chat-history .message-data-time {
	color: gray;
	padding-left: 6px;
}

.chat .chat-history .message {
	color: #444;
	padding: 5px 20px;
	line-height: 26px;
	font-size: 16px;
	border-radius: 20px;
	display: inline-block;
	position: relative;
}

/* .chat .chat-history .message:after {
	bottom: 100%;
	left: 7%;
	border: solid transparent;
	content: ' ';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #17a2f0;
	border-width: 10px;
	margin-left: -10px;
} */

.chat .chat-history .my-message {
	background: #979797;
	color: white;
}

/* .chat .chat-history .my-message:after {
	bottom: 100%;
	left: 30px;
	border: solid transparent;
	content: ' ';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #17a2f0;
	border-width: 10px;
	margin-left: -10px;
} */

.chat .chat-history .other-message {
	background: #1682c0;
	color: white;
	text-align: right;
}

/* .chat .chat-history .other-message:after {
	border-bottom-color: #17a2f0;
	left: 75%;
} */

.chat .chat-message {
	padding: 20px;
}

.me {
	margin-right: 2px;
	font-size: 8px;
	vertical-align: middle;
}

/* .me {
	color: #1d8ecd;
} */

.float-right {
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: ' ';
	clear: both;
	height: 0;
}

@media only screen and (max-width: 767px) {
	.chat-app .people-list {
		height: 465px;
		width: 100%;
		overflow-x: auto;
		background: #fff;
		left: -400px;
		display: none;
	}
	.chat-app .people-list.open {
		left: 0;
	}
	.chat-app .chat {
		margin: 0;
	}
	.chat-app .chat .chat-header {
		border-radius: 0.55rem 0.55rem 0 0;
	}
	.chat-app .chat-history {
		height: 300px;
		overflow-x: auto;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	.chat-app .chat-list {
		height: 650px;
		overflow-x: hidden;
	}
	.chat-app .chat-history {
		height: 600px;
		overflow-x: hidden;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	.chat-app .chat-list {
		height: 480px;
		overflow-x: auto;
	}
	.chat-app .chat-history {
		height: calc(100vh - 350px);
		overflow-x: auto;
	}
}

#submit-btn {
	box-shadow: none;
}
#submit-btn:hover {
	background-color: #0037ff;
}

.nav-link {
	color: white;
}

.nav-link:hover {
	color: rgb(0, 0, 0);
}

#banner {
	width: inherit;
	/* max-height: 100px; */
	/* background-color: white; */
	filter: invert();
}

#navBar {
	position: fixed;
	width: 100%;
	z-index: 1;
}

.chat {
	background-color: black;
}

input.form-control {
	background-color: black;
	color: white;
}

input.form-control:focus {
	background-color: black;
	color: white;
}

/* NavBar Styles */

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	font-family: "Helvetica Neue",sans-serif;
	font-weight: lighter;
}

header {
	width: 100%;
	height: 100px;
	/* background: url(https://wallpaper.wiki/wp-content/uploads/2017/05/wallpaper.wiki-Beautiful-Full-HD-Wallpaper-Download-Free-PIC-WPE0010098.jpg) no-repeat 50% 50%; */
	background-size: cover;
}

.content {
	width: 94%;
	margin: 4em auto;
	font-size: 20px;
	line-height: 30px;
	text-align: justify;
}

.logo {
	line-height: 60px;
	position: fixed;
	float: left;
	margin: 16px 46px;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 2px;
}

nav {
	position: fixed;
	width: 100%;
	line-height: 60px;
}

nav ul {
	line-height: 60px;
	list-style: none;
	background: rgba(0, 0, 0, 0);
	overflow: hidden;
	color: #fff;
	padding: 0;
	text-align: right;
	margin: 0;
	padding-right: 40px;
	transition: 1s;
}

nav.black ul {
	background: #000;
}

nav ul li {
	display: inline-block;
	padding: 16px 40px;;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}

.menu-icon {
	line-height: 60px;
	width: 100%;
	background: #000;
	text-align: right;
	box-sizing: border-box;
	padding: 15px 24px;
	cursor: pointer;
	color: #fff;
	display: none;
}

@media(max-width: 786px) {

	.logo {
		  position: fixed;
		  top: 0;
		  margin-top: 16px;
	}

	nav ul {
		  max-height: 0px;
		  background: #000;
	}

	nav.black ul {
		  background: #000;
	}

	.showing {
		  max-height: 34em;
	}

	nav ul li {
		  box-sizing: border-box;
		  width: 100%;
		  padding: 24px;
		  text-align: center;
	}

	.menu-icon {
		  display: block;
	}

}


#doorImg {
	width: 65px;
	filter: invert(1);
}

footer h5 {
	border: 1px solid white;
    color: red;
    padding: 1.6em;
	font-size: 11pt;
    font-weight: 400;
}

#banner1 {
	width: inherit;
	filter: invert();
}

#chat-history {
	height: 50vh;
	overflow: scroll;
}

#changedUser {
	display: inline-block;
	width: 100%;
	color: rgb(0, 255, 0);
}

